<html>
	<head>
	<title>Alumnat</title>
	</head>
<body>
	{% if user.username %}
		<h1>
			Alumnat
        	(<a href="{% url 'iteatre:alumnae_create' %}">add</a>)
		</h1>
		{% if alumnat %}
		<ul>
		{% for al in alumnat %}
		<li>
			<a href="{% url 'iteatre:alumnae_detail' al.id %}">{{al.nom}}</a>
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>No hi ha alumna/e de teatre creat. </p>
		{% endif %}
		<a href="{% url 'iteatre:iteatre' %}">Tornar al Inici</a>
	{% else %}
	<p>has de loguejiar <a href="/login/">sign in</a>
	per veure informacions.</p>
	{% endif %}
</body>	
</html>

